.about {
    background-color: rgb(255, 241, 228);
    position: relative;
    /* top: -20px; */
    padding-bottom: 50px; /* Add padding for better appearance */
}

/* .about::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -40px;
    height: 100px;
    background: inherit;
    transform: skewY(2.5deg);
    transform-origin: top;
} */

.about_txt {
    width: 70%;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.about h1 {
    font-size: 1.5cm;
    font-family: 'font2', sans-serif;
}

.about p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about_txt {
        width: 90%; /* Increase width for better readability on smaller screens */
        height: auto; /* Adjust height to auto */
        padding: 20px 0; /* Add padding for better spacing */
    }

    .about h1 {
        font-size: 1.2cm; /* Reduce font size */
    }

    .about p {
        font-size: 15px; /* Reduce font size */
    }
}

@media (max-width: 480px) {
    .about_txt {
        width: 95%; /* Further increase width for very small screens */
        gap: 15px; /* Reduce gap between elements */
    }

    .about h1 {
        font-size: 1cm; /* Further reduce font size */
    }

    .about p {
        font-size: 14px; /* Further reduce font size */
    }
}
